_archive
terraform/secrets
terraform.tfstate
terraform.tfstate.backup
*.retry
ansible/inventory
ansible/tls/
ansible/kubeconfig/
terraform/.terraform.tfstate.lock.info
ansible2/inventory
ansible3/inventory
ansible3/files
ansible2/files
ansible3/roles/workstation/files/
ansible2/roles/workstation/files/
.DS_Store
.terraform
